<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.rt.hightec.agent.launcher.launchConfigurationType">
    <stringAttribute key="ACC_HW" value="DAS JDS AURIX LITE KIT V1.0 (TC334) LK6H68SC"/>
    <stringAttribute key="ADDITIONAL_AGENT_OPTIONS" value=""/>
    <booleanAttribute key="ENABLE_AGENTLOG" value="false"/>
    <booleanAttribute key="ENABLE_FLASHING" value="true"/>
    <booleanAttribute key="ENABLE_STOPPING" value="true"/>
    <stringAttribute key="EXECUTABLE_PATH" value="${workspace_loc}/TC334_EvalBrd_Ex/TriCore Debug (TASKING)/TC334_EvalBrd_Ex.elf"/>
    <stringAttribute key="PPU_ELF_PATH" value=""/>
    <stringAttribute key="STOP_FUNCTION" value="core0_main"/>
    <stringAttribute key="SVD" value="C:/Infineon/AURIX-Studio-1.10.36/build_system/bundled-artefacts-repo/svd/tc33xpd/1.2-3/device.svd"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="TC334_EvalBrd_Ex"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/TC334_EvalBrd_Ex"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_LOCATION" value="/TC334_EvalBrd_Ex/TC334_EvalBrd_Ex TriCore Debug (TASKING).launch"/>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_PROJECT_NAME" value="TC334_EvalBrd_Ex"/>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_SHARED" value="true"/>
    <stringAttribute key="org.eclipse.tcf.debug.ProjectName" value="TC334_EvalBrd_Ex"/>
    <stringAttribute key="org.eclipse.tcf.debug.executable_name" value="${workspace_loc}/TC334_EvalBrd_Ex/TriCore Debug (TASKING)/TC334_EvalBrd_Ex.elf"/>
</launchConfiguration>
